<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rmuhamed.params.app.provider">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission android:name="com.rmuhamed.params.app.provider.READ_PERMISSION" />
    <permission android:name="com.rmuhamed.params.app.provider.WRITE_PERMISSION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".service.ProviderAppService"
            android:label="ProviderAppService" />

        <receiver
            android:name=".receiver.StartProviderAppServiceAtBootReceiver"
            android:label="StartProviderAppServiceAtBootReceiver">
        </receiver>

        <provider
            android:name=".ParamsContentProvider"
            android:authorities="${applicationId}"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.rmuhamed.params.app.provider.READ_PERMISSION"
            android:writePermission="com.rmuhamed.params.app.provider.WRITE_PERMISSION" />
    </application>

</manifest>